* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
}
.hidden {
  display: none !important;
}
.slideContent {
  top: 80px;
}
.slideContent p:nth-child(1) {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  border-bottom: 2px solid #fcaf00;
  font-size: 2.1rem;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin-bottom: 0;
}
.slideContent p:nth-child(2) {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 600;
}
.slideContent p:nth-child(3) {
  color: #fcaf00;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
.slideContent__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 10px 0;
  background-color: #fcaf00;
  border-radius: 20px;
  padding: 5px 10px;
  /* etiqueta a */
  /* imagen de flecha*/
}
.slideContent__link a {
  text-decoration: none;
  color: white;
  padding: ▸ 9px 25px;
  font-size: 1.5rem;
  font-weight: 100;
}
.slideContent__link img {
  width: 25px;
}
.slideContent__box h2 {
  font-size: 1.5rem;
}
.slideContent__box a {
  padding: 0px 8px;
  font-size: 2rem;
  border-radius: 10px;
  font-weight: 500;
}
.content__section-nuestrafundacion {
  max-width: 1110px;
  margin: 0 auto;
}
.content__section-nuestrafundacion-txt {
  margin-top: 30px;
}
.content__section-nuestrafundacion-txt p {
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.content__section-nuestrafundacion-txt a {
  font-size: 1.4rem;
  font-weight: 900;
  color: #474643;
  margin: 125px;
}
.content__section-nuestrafundacion-txt a img {
  width: 18px;
}
.content__section-nuestrafundacion-motivacion {
  background-size: cover;
  margin-top: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(../images/Tablet/tabletItemDonacion_1_1440x900.jpg);
  background-repeat: no-repeat;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 0auto;
  height: 400px;
}
.content__section-nuestrafundacion-motivacion-text {
  position: absolute;
  top: 20%;
  right: 0px;
  height: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  border-radius: 25px 0 0 0;
  padding: 10px;
  background-color: rgba(33, 37, 41, 0.555);
}
.content__section-nuestrafundacion-motivacion-text p {
  color: #FFFFFF;
  font-family: 32px;
  font-size: 2.1rem;
  margin-left: 55%;
}
.content__section-nuestrafundacion-imgcafe {
  margin-top: 20%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(../images/Tablet/tabletItemDonacion_2_1440x900.jpg);
  width: auto;
  height: 400px;
  background-size: cover;
}
.content__section-nuestrafundacion-imgcafe-color {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: rgba(238, 152, 24, 0.42);
}
.content__section-nuestrafundacion-imgcafe-color p {
  margin: 20px;
  color: #FFFFFF;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: left;
  margin-right: 700px;
  font-family: 'Inter', sans-serf;
}
.content__section-nuestrafundacion-imgcafe-cuadro {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: absolute;
  /* Establece una posición absoluta para el elemento con color */
  top: 330px;
  left: 400px;
  width: 30%;
  /* Ocupa todo el ancho del contenedor */
  height: 40%;
  /* Ocupa todo el alto del contenedor */
  background-color: #B0710D;
  /* Color azul con 50% de opacidad */
  border-radius: 30px 0 30px 0;
}
.content__section-nuestrafundacion-imgcafe-cuadro p {
  margin: 15px;
  position: absolute;
  top: 30%;
  color: #FFFFFF;
  font-family: 32px;
  font-size: 1.8rem;
  right: 30px;
}
.content__section-nuestrafundacion-programas {
  margin-top: 20%;
}
.content__section-nuestrafundacion-blog {
  margin: 80px;
}
.content__section-Fundacion {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/Desktop/desktopSlides_Somos-1920x466.jpg);
  background-size: cover;
}
.content__section-Fundacion-quienessomos {
  max-width: 1110px;
  margin: 0 auto;
}
.content__section-Fundacion-Mision {
  max-width: 1110px;
  margin: 0 auto;
  background-image: url(../images/Tablet/tabletItemMision1440x900.jpg);
  background-size: cover;
  height: 590px;
}
.content__section-Fundacion-Mision-text {
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 590px;
  background-color: rgba(0, 0, 0, 0.2);
}
.content__section-Fundacion-Valores {
  max-width: 1110px;
  margin: 0 auto;
}
.content__section-Fundacion-lista {
  max-width: 1110px;
  margin: 0 auto;
}
.content__section-Fundacion-vision {
  top: 100px;
  max-width: 1110px;
  margin: 0 auto;
  background-image: url(../images/Tablet/tabletItemVision1440x900.jpg);
  background-size: cover;
  height: 590px;
}
.content__section-Fundacion-vision-text {
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 590px;
  background-color: rgba(0, 0, 0, 0.2);
}
footer {
  margin-top: 30px;
}
footer .footer__box__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
