* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
}
.hidden {
  display: none !important;
}
.carousel-item {
  position: relative !important;
  display: inline-block !important;
}
/*Aqui empieza el primer carrusel */
.slideContent {
  padding: 0;
  position: absolute;
  top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #FFFFFF;
  width: 100vw;
  background-color: rgba(33, 37, 41, 0.555);
  padding-left: 20px ;
  /* parrafos de fundacio , pinita & mas que sonrisas*/
  /*Fundacion*/
  /*parrafo de pinita*/
  /*parrafo de mas que sonrisas*/
  /*link de nuestra fundacion*/
}
.slideContent p:nth-child(1) {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  border-bottom: 2px solid #fcaf00;
  font-size: 2.4rem;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  margin-bottom: 0;
}
.slideContent p:nth-child(2) {
  font-family: 'Raleway', sans-serif;
  font-size: 6rem;
  margin-bottom: 0;
  font-weight: 600;
}
.slideContent p:nth-child(3) {
  color: #fcaf00;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
.slideContent__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 10px 0;
  background-color: #fcaf00;
  border-radius: 20px;
  padding: 5px 10px;
  /* etiqueta a */
  /* imagen de flecha*/
}
.slideContent__link a {
  text-decoration: none;
  color: white;
  padding: ▸ 9px 25px;
  font-size: 16px;
  font-weight: 100;
}
.slideContent__link img {
  width: 25px;
}
.slideContent__box h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 0;
  font-weight: 600;
  color: #FFFFFF;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  font-weight: 350;
}
.slideContent__box img {
  width: 160px;
}
.slideContent__box a {
  /*justify-content: center;*/
  /* align-items: center;*/
  gap: 5px;
  margin: 5% 0;
  background-color: #fcaf00;
  border-radius: 13px;
  padding: 3px 10px;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: 300;
}
/*----------------seccion de la pagina principal--------------*/
.content__section-nuestrafundacion {
  /*imagen de pinita en hostital*/
  /*-----parrafo de dos bordes-----------------*/
  /*-----fondo de payaso con la ancianita en color cafe------*/
  /*estilos de los circulos de los programas*/
  /*estilos para los blog*/
}
.content__section-nuestrafundacion-txt p {
  color: #474643;
  font-size: 2rem;
  font-family: 'Inter', sans-serf;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px;
  line-height: 1.4;
  /*espacio entre lineas*/
}
.content__section-nuestrafundacion-txt a {
  text-decoration: none;
  color: black;
  margin: 15px;
  font-family: 'League Spartan', sans-serf;
  font-size: 2rem;
  font-weight: 750;
}
.content__section-nuestrafundacion-txt a img {
  width: 25px;
}
.content__section-nuestrafundacion-motivacion {
  margin-top: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(../images/Mobile/mobileItemDonacion480x520.jpg);
  background-repeat: no-repeat;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 0auto;
  height: 400px;
}
.content__section-nuestrafundacion-motivacion-text {
  position: absolute;
  top: 30%;
  right: 0px;
  height: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  border-radius: 25px 0 0 0;
  padding: 5px;
  background-color: rgba(33, 37, 41, 0.555);
}
.content__section-nuestrafundacion-motivacion-text p {
  color: #FFFFFF;
  font-family: 32px;
  font-size: 2.5rem;
  text-align: end;
}
.content__section-nuestrafundacion-ayuda {
  margin-top: 15%;
}
.content__section-nuestrafundacion-ayuda p {
  border-top: 2px solid #fcaf00;
  border-bottom: 2px solid #fcaf00;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 25px;
  text-align: center;
  font-weight: 450;
}
.content__section-nuestrafundacion-imgcafe {
  margin-top: 20%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(../images/Mobile/mobileItemDonacion2480x520.jpg);
  width: auto;
  height: 400px;
  background-size: cover;
}
.content__section-nuestrafundacion-imgcafe-color {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: rgba(238, 152, 24, 0.42);
}
.content__section-nuestrafundacion-imgcafe-color p {
  color: #FFFFFF;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Inter', sans-serf;
}
.content__section-nuestrafundacion-imgcafe-cuadro {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: absolute;
  /* Establece una posición absoluta para el elemento con color */
  top: 320px;
  left: 50px;
  width: 70%;
  /* Ocupa todo el ancho del contenedor */
  height: 40%;
  /* Ocupa todo el alto del contenedor */
  background-color: #B0710D;
  /* Color azul con 50% de opacidad */
  border-radius: 30px 0 30px 0;
}
.content__section-nuestrafundacion-imgcafe-cuadro p {
  position: absolute;
  top: 20%;
  color: #FFFFFF;
  font-family: 32px;
  font-size: 2.8rem;
  text-align: center;
}
.content__section-nuestrafundacion-programas {
  margin-top: 30%;
}
.content__section-nuestrafundacion-programas p:nth-child(1) {
  color: #474643;
  border-bottom: 1px solid #fcaf00;
  margin-bottom: 0;
  font-size: 4rem;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px 2.5px #8F9090;
}
.content__section-nuestrafundacion-programas p:nth-child(2) {
  color: black;
  font-size: 2rem;
  margin: 6px 6px;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.content__section-nuestrafundacion-circulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*-------estilo en modales------*/
}
.content__section-nuestrafundacion-circulo #itemProg1 {
  background-image: url(../images/Mobile/itemsCircle_2-600x600.jpg);
}
.content__section-nuestrafundacion-circulo #itemProg2 {
  background-image: url(../images/Mobile/itemsCircle_3-600x600.jpg);
}
.content__section-nuestrafundacion-circulo #itemProg3 {
  background-image: url(../images/Mobile/itemsCircle_1-600x600.jpg);
}
.content__section-nuestrafundacion-circulo #itemProg4 {
  background-image: url(../images/Mobile/itemsCircle_4-600x600.jpg);
}
.content__section-nuestrafundacion-circulo #itemProg5 {
  background-image: url(../images/Mobile/itemsCircle_5-600x600.jpg);
}
.content__section-nuestrafundacion-circulo-item {
  background-position: center;
  background-size: cover;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 165px;
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-weight: 500;
  margin: 5px;
}
.content__section-nuestrafundacion-circulo-item-txt {
  background-color: rgba(33, 37, 41, 0.555);
  width: 145px;
  height: auto;
}
.content__section-nuestrafundacion-circulo-item-txt a {
  text-decoration: none;
  float: right;
  color: #fcaf00;
  font-size: 1.8rem;
  font-weight: 200;
}
.content__section-nuestrafundacion-circulo-item-txt a img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
}
.content__section-nuestrafundacion-circulo-item-txt .btn.btn-primary {
  width: auto;
  height: 10px;
  color: #fcaf00;
  font-size: 1.9rem;
  background: transparent;
  border: none;
  float: right;
  padding: 10%;
  margin: 5%;
}
.content__section-nuestrafundacion-circulo-item-txt .btn.btn-primary img {
  margin-top: 3%;
  float: right;
  width: 25px;
}
.content__section-nuestrafundacion-circulo-item-txt p {
  margin: 5%;
  color: #FFFFFF;
  font-size: 2rem;
  text-align: center;
  font-family: 32px;
}
.content__section-nuestrafundacion-circulo .modal-content {
  overflow: hidden;
}
.content__section-nuestrafundacion-circulo .modal-content .modal-title {
  color: #474643;
  font-size: 2.5rem !important;
}
.content__section-nuestrafundacion-circulo .modal-content .modal-title strong {
  font-size: 4rem;
  line-height: 25px;
  border-bottom: 2px solid #FCAF00;
}
.content__section-nuestrafundacion-circulo .modal-content .modal-body p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #474643;
  margin: 5px;
  margin-right: 145px;
  font-size: 2rem;
  font-family: 'Inter', sans-serf;
  text-align: left;
  position: relative;
}
.content__section-nuestrafundacion-circulo .modal-content .modal-body img {
  position: absolute;
  padding-top: 0.75px;
  left: 180px;
  width: 200px;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.content__section-nuestrafundacion-circulo .modal-content .modal-footer .btn.btn-link {
  position: relative;
  right: 60px;
  text-decoration: none;
  color: #fcaf00;
  font-size: 2rem;
}
.content__section-nuestrafundacion-blog h1 {
  color: #474643;
  padding-bottom: 0;
  font-size: 4.5rem;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 0px 1px 2.5px #8F9090;
}
.content__section-nuestrafundacion-blogimg {
  margin: 10px;
  line-height: 1.5;
  margin-top: 20px;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /* este es el parrafo de "Titulo de post"*/
}
.content__section-nuestrafundacion-blogimg p:nth-child(1) {
  font-size: 2.5rem;
  color: #474643;
  text-align: center;
  margin: 0px;
}
.content__section-nuestrafundacion-blogimg img {
  width: 354px;
  /* Ancho de la imagen */
  height: 190px;
  /* Altura automática para mantener la proporción original */
  border-radius: 10px 10px 10px 10px;
}
.content__section-nuestrafundacion-blogimg-box {
  /*---Autor----*/
  /*---fecha---*/
  /*---texto----*/
}
.content__section-nuestrafundacion-blogimg-box p:nth-child(1) {
  text-align: left;
  font-size: 1.3rem;
  color: black;
  margin: 0px;
  line-height: 2em;
}
.content__section-nuestrafundacion-blogimg-box p:nth-child(2) {
  font-size: 1.3rem;
  color: black;
  border-bottom: 1px solid #fcaf00;
}
.content__section-nuestrafundacion-blogimg-box p:nth-child(3) {
  margin: 0px;
  padding: 5%;
  font-size: 2rem;
  text-align: left;
  color: black;
  font-family: 32px;
}
.content__section-nuestrafundacion-blogimg-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 25px;
  text-decoration: none;
  text-align: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: black;
  font-size: 1.8rem;
}
.content__section-nuestrafundacion-blogimg-box a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: auto;
}
/*------footer--------*/
footer {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
}
footer .footer__header {
  background-color: #2CA7EC;
  width: 100%;
}
footer .footer__header__box {
  display: -ms-grid;
  display: grid;
  color: #FFFFFF;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
      grid-template-areas: "phone cellphone" "email email";
  font-size: 'Raleway', sans-serif;
  line-height: 2rem;
  font-family: 'Raleway', sans-serif;
  padding: 20px 10px;
  margin: 0 auto;
}
footer .footer__header__box__phone {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: phone;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header__box__phone p,
footer .footer__header__box__cellphone p,
footer .footer__header__box__email p {
  margin-bottom: 0;
  font-size: 1.6rem;
  font-family: 'inter';
  font-weight: 100;
}
footer .footer__header__box__cellphone {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cellphone;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header__box__email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header-icon img {
  width: 30px;
  height: auto;
  margin: 0 10px;
}
footer .footer__box__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #474643;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__box__body-logo {
  width: 200px;
}
footer .footer__box__body-links {
  margin: 30px auto;
  text-align: center;
}
footer .footer__box__body-links h2 {
  font-weight: 32px;
  font-size: 2rem;
}
footer .footer__box__body-links li {
  margin: 10px 0;
  list-style: none;
  text-align: center;
}
footer .footer__box__body-links li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 'Raleway', sans-serif;
  font-size: 1.8rem;
}
footer .footer__box__body-address {
  text-align: center;
  /*---------------AQUI--------------*/
}
footer .footer__box__body-address img {
  width: 80px;
  margin: 20px auto;
}
footer .footer__box__body-address p {
  font-size: 16px;
  width: 170px;
  text-align: center;
  margin: 5px auto;
  font-weight: 400;
}
footer .footer__box__body-schedule {
  margin: 40px auto;
  text-align: center;
}
footer .footer__box__body-schedule h2 {
  font-weight: 400;
  font-size: 2rem;
}
footer .footer__box__body-schedule-hours {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "semana horario-semana" "sabado horario-sabado" "domingo horario-domingo";
  font-size: 1.5rem;
}
footer .footer__box__body-schedule-hours p:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: semana;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: horario-semana;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-schedule-hours p:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sabado;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: horario-sabado;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-schedule-hours p:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: domingo;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: horario-domingo;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-socialmedia {
  text-align: center;
}
footer .footer__box__body-socialmedia #logoFooter {
  display: none;
}
footer .footer__box__body-socialmedia__icon img {
  width: 60px;
}
footer .footer__foot {
  background-color: #fcaf00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  height: 81px;
  margin: 0;
}
footer .footer__foot p {
  margin: 0;
}
footer .footer__foot .divisor {
  display: none;
}
footer .footer__foot .rights p {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #FFFFFF;
}
footer .footer__foot .link__jmc a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #FFFFFF;
}
