* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
}
.hidden {
  display: none !important;
}
.content__section-nuestrafundacion-motvacion {
  background-image: url(../images/Tablet/tabletItemDonacion_1_1440x900.jpg);
  height: 466px;
  background-position: center;
  background-size: cover;
}
.content__section-nuestrafundacion-imgcafe {
  margin-top: 20%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(../images/Tablet/tabletItemDonacion_2_1440x900.jpg);
  width: auto;
  height: 400px;
  background-size: cover;
}
.content__section-nuestrafundacion-programas {
  margin: 70px;
  margin-top: 40%;
}
.content__section-nuestrafundacion-programas p:nth-child(1) {
  color: #474643;
  border-bottom: 1px solid #fcaf00;
  margin-bottom: 0;
  font-size: 6rem;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px 2.5px #8F9090;
}
