footer
    .footer__header
    .footer__box
        .footer__box__body
            .footer__box__body-logo
                img(src="images/icono/logotipo.svg", alt="logotipo de Pinita")
            .footer__box__body-links
                h2 Enlaces Directos
                ul 
                    li
                        a(href="index.html") Inicio
        .footer__foot 
            .rights
                p FUNDACION PINITA 2023
            p.divisor #[strong |]
            .link__jmc 
                a(href="https://jmcsoluciones.com" target="_blank") Desarrollado por #[strong JMC Soluciones]  
script(src="js/app-dist.js")
