header
    nav.menu
        section.menu__container
            img(src="images/icono/logotipo.svg" alt="logotipo" ).menu__logo
            ul.menu__links 
                li.menu__item 
                    a(href="index.html").menu__link Cerrar
            .menu__hamburger 
                img(src="images/icono/menu.svg" alt="icono de menu").menu__img