header
    nav.menu
        section.menu__container
            img(src="images/icono/logotipo.svg" alt="logotipo" ).menu__logo
            ul.menu__links 
                li.menu__item 
                    a(href="index.html").menu__link Inicio
                li.menu__item.menu__item-show
                    a(href="#").menu__link Fundacion 
                        img(src="/images/icono/flecha_blanca.svg", alt="flecha sub").menu__arrow
                    ul.menu__nesting
                        li.menu__inside
                            a(href="Fundacion.html").menu__link.menu__link-inside Quienes somos?
                        li.menu__inside
                            a(href="contacto.html").menu__link.menu__link-inside Contacto   
                li.menu__item 
                    a(href="Tienda.html").menu__link Tienda
                li.menu__item 
                    a(href="login.html").menu__link Login
                li.menu__item 
                    a(href="Registro.html").menu__link Registro
            .menu__hamburger 
                img(src="images/icono/menu.svg" alt="icono de menu").menu__img

