headerMod
    nav.menu
    section.menu__containermod
        img(src="images/icono/logotipo.svg" alt="logotipo" ).menu__logo
        ul.menu__links
            li.menu__item 
                a(href="formlogin.html").menu__link cerrar cesión