headerMod
    nav.menu
    section.menu__containermod
        img(src="images/icono/logotipo.svg" alt="logotipo" ).menu__logo
        ul.menu__links
            li.menu__item.menu__item-show
                a(href="#").menu__link Fundacion 
                    img(src="../images/icono/chevronderecha.svg", alt="flecha sub").menu__arrow
            li.menu__item 
                a(href="formlogin.html").menu__link cerrar cesión