
<header>
  <nav class="menu">
    <section class="menu__container"><img class="menu__logo" src="images/icono/logotipo.svg" alt="logotipo"/>
      <ul class="menu__links"> 
        <li class="menu__item"> <a class="menu__link" href="index.html">Inicio</a></li>
        <li class="menu__item menu__item-show"><a class="menu__link" href="#">Fundacion <img class="menu__arrow" src="/images/icono/flecha_blanca.svg" alt="flecha sub"/></a>
          <ul class="menu__nesting">
            <li class="menu__inside"><a class="menu__link menu__link-inside" href="Fundacion.html">Quienes somos</a></li>
            <li class="menu__inside"><a class="menu__link menu__link-inside" href="contacto.html">Contacto   </a></li>
          </ul>
        </li>
        <li class="menu__item"> <a class="menu__link" href="Tienda.html">Tienda</a></li>
        <li class="menu__item"> <a class="menu__link" href="formlogin.html">Login</a></li>
        <li class="menu__item"> <a class="menu__link" href="Registro.html">Registro</a></li>
      </ul>
      <div class="menu__hamburger"> <img class="menu__img" src="images/icono/menu.svg" alt="icono de menu"/></div>
    </section>
  </nav>
</header>