<<<<<<< HEAD
include ../components/config.pug   
doctype html 
html 
    include ../components/head.pug 
    body 
        include ../components/header.pug   
        block content 
        include ../components/footer.pug
=======
include ../components/config.pug
doctype html 
html 
    include ../components/head.pug 
    body  
    include ../components/header.pug 
    block content 
    include ../components/footer.pug 
>>>>>>> 0ff6deb5e2b484f3e7c6164ef676ce5bd76889f2
