include ../components/config.pug
doctype html 
html 
    include ../components/head.pug 
    body 
        include ../components/headerMod.pug 
        block content 
        include ../components/footerMod.pug