headerMod
    .content
        .content.blog.content
            .content.login.content__inicio
                p Moderador
        .content.blog.content.box 
            a(href="#") 
                img(src="../images/icono/blog.svg", alt="icono del blog")