extend ../components/template.pug
block  content
    .contentContacto
        .contentContacto__titulo 
            p Formulario de contacto
            .contentContacto__titulo__formu
                .mb-3
                    label.form-label(for='formGroupExampleInput') Nombre:
                    input#formGroupExampleInput.form-control(type='text' placeholder='Ingrese nombre')
                .mb-3
                    label.form-label(for='formGroupExampleInput2') Teléfono:
                    input#formGroupExampleInput2.form-control(type='number' placeholder='Teléfono')
                .mb-3
                    label.form-label(for='formGroupExampleInput3') Asunto:
                    textarea#floatingTextarea2.form-control(placeholder='' style='height: 50px')
                .mb-3
                    label.form-label(for='formGroupExampleInput3') Mensaje:
                    textarea#floatingTextarea2.form-control(placeholder='' style='height: 100px')    
                .boton 
                    button.btn.btn-warning.btn-lg(type='button') Enviar
            .contenteContacto__titulo__formu__maps#mapa
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.536863147943!2d-102.30142972558792!3d21.87539305816424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ee7e73cea6f3%3A0xafe77ee7e86da99e!2sPinita!5e0!3m2!1ses!2smx!4v1697662079683!5m2!1ses!2smx' width='600' height='390' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade' display='flex' align-items='center'  justify-content='center')
