extend ../components/template.pug
block  content
    .content.login.content
        .content.login.content__inicio
            p Inicio de Sesíon
            .content.login.content__inicio__form
                .mb-3
                    label.form-label(for='formGroupExampleInput') Usuario:
                    input#formGroupExampleInput.form-control(type='text' placeholder='Ingrese Usuario')
                .mb-3
                    label.form-label(for='formGroupExampleInput2') Password:
                    input#formGroupExampleInput2.form-control(type='password' placeholder='Password')
                .boton 
                    a.btn.btn-primary.btn-lg(href='controlBlog.html' role='button') iniciar sesión