extend ../components/template.pug
block  content
    .content__section-Fundacion 
        .content__section-Fundacion-text
            p Conoce 
            p Nuestra
            p Fundacion
    .content__section-Fundacion-quienessomos
            h2 ¿Quienes somos?
            p En la Fundación Pinita nos preocupamos por el desarrollo de los niños y adultos mayores que se encuentran en situaciones vulnerables...
            img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
            .content__section-Fundacion-quienessomos-circulo
    .content__section-Fundacion-Mision
        .content__section-Fundacion-Mision-text
            h1 #[strong Misión]
            p Contribuir a la sensibilizacion de las personas para apoyar#[strong grupos marginados, personans de la tercera edad y niñoa hoapitalizados...]
    .content__section-Fundacion-Valores
        p Nuestros Valores
    .content__section-Fundacion-lista 
        ul.content__section-Fundacion-lista-listaval
            li.content__section-Fundacion-lista-listaval-text
                p La solidaridad entre las personas
                img(src="/images/icono/marca-verificacion.svg", alt="verificacion")
            li.content__section-Fundacion-lista-listaval-text 
                p La fraternidad
                img(src="/images/icono/marca-verificacion.svg", alt="verificacion")
            li.content__section-Fundacion-lista-listaval-text
                p La vocación de servicio al prójimo
                img(src="/images/icono/marca-verificacion.svg", alt="verificacion")
            li.content__section-Fundacion-lista-listaval-text
                p El respeto por la vida.
                img(src="/images/icono/marca-verificacion.svg", alt="verificacion")
            li.content__section-Fundacion-lista-listaval-text
                p El trabajo en equipo y la no discriminación.
                img(src="/images/icono/marca-verificacion.svg", alt="verificacion")
    .content__section-Fundacion-vision
        .content__section-Fundacion-vision-text
            h2 #[strong Vision]
            p Contribuir a la sensibilizacion de las personas para apoyar#[strong grupos marginados, personans de la tercera edad y niñoa hoapitalizados...]