extend ../components/template.pug
block  content
    .content__section-Fundacion 
        .content__section-Fundacion-text
            p Conoce 
            p Nuestra
            p Fundación
            .content__section-Fundacion-circulo
        .content__section-Fundacion-quienessomos 
            p ¿Quienes somos?
                             
