extend ../components/template.pug
block content
    .content 
        .content__section-slide
            section(data-bs-ride="carousel").content__slides.carousel.slide.carousel-fade#carouselExampleFade
              .carousel-inner
                    .carousel-item.active
                        picture.carousel-item__img
                            source(media="(min-width:1110px)" srcset="/images/Desktop/desktopSlides_2-1920x466.jpg")
                            source(media="(min-width:768px)" srcset="/images/Tablet/tabletSlides_2-1110x466.jpg")
                            img(src="/images/Mobile/mobileSlide_2-722x1048.jpg" alt="Imagen de inicio").d-block.w-100
                        .slideContent 
                            p Fundacion
                            p Pinita 
                            p Mas que sonrisas 
                            .slideContent__link 
                                a(href="Fundacion.html" target="blank") Nuestra Fundación 
                                img(src="/images/icono/flecha_blanca.svg", alt="logo de flecha")
                    .carousel-item
                        picture.carousel-item__img
                            source(media="(min-width:1110px)" srcset="/images/Desktop/desktopSlides_1-1920x466.jpg")
                            source(media="(min-width:768px)" srcset="/images/Tablet/tabletSlides_1-1110x466.jpg")
                            img(src="/images/Mobile/mobileSlide_1-722x1048.jpg" alt="niña de verde").d-block.w-100
                        .slideContent
                            .slideContent__box
                                img(src="/images/icono/logotipo.svg" alt="logo pinita")
                                h2 Aceptamos #[strong donaciones economicas o en especie]
                                a(href="#" target="blank") Donar
                    button(type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev").carousel-control-prev.hidden
                        span(aria-hidden="true").carousel-control-prev-icon.hidden
                        span.visually-hidden.hidden Previous
                    button(type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next").carousel-control-next.hidden
                        span(aria-hidden="true").carousel-control-next-icon.hidden
                        span.visually-hidden.hidden Next
        .content__section-nuestrafundacion
            .content__section-nuestrafundacion-txt 
                p "Cuando ayudamos a nuestro prójimo de corazón, es como #[strong sanamos errores, tristezas, y encontramos un nuevo camino]"
                a(href="Fundacion.html" target="blank") Conoce nuestra fundación 
                    img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
            .content__section-nuestrafundacion-motivacion 
                .content__section-nuestrafundacion-motivacion-text
                     p A veces no es sólo brillar, también es #[strong ayudar abrillar a alguien más]
            .content__section-nuestrafundacion-ayuda 
                 p "ayudar a otro es un privilegio, agradece la oportunidad de hacerlo"
            .content__section-nuestrafundacion-imgcafe 
                .content__section-nuestrafundacion-imgcafe-color
                    p "Tus acciones demuestran #[strong de qué está echo tu corazón]"
                .content__section-nuestrafundacion-imgcafe-cuadro 
                    p La gratitud lo cambia #[strong TODO]
                .content__section-nuestrafundacion-texto
            .content__section-nuestrafundacion-programas 
                p #[strong programas sociales]
                p Apoyamos a los niños, jóvenes y adultos que se encuentran en mala situación 
            .content__section-nuestrafundacion-circulo
                .content__section-nuestrafundacion-circulo-item#itemProg1
                    .content__section-nuestrafundacion-circulo-item-txt
                        p Comedor
                        button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal') Ver mas
                            img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
                #exampleModal.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalComedorLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h1#exampleModalLabel.modal-title.fs-5 Entrega de #[br] #[strong alimentos a #[br] clientes]
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p En pocas cosas se puede invertir mejor nuestro tiempo y esfuerzo que repartiendo sonrisas acompañadas de un alimento caliente a quien más lo necesita.
                                    img(src="/images/Mobile/itemsCircle_2-600x600.jpg", alt="comdor viejito" class="imagen-redonda" srcset ="")
                            .modal-footer
                                button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#Registrate') Registrate como voluntaro                                    
                                    img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
                #Registrate.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='RegistrateLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h1#RegistrateLabel.modal-title.fs-5 #[strong Registrate]
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                .contentRegistro
                                    .contentRegistro__box
                                        .contentRegistro__box__usuario 
                                            
                                            p Ingrese el nombre de usuario de 8 caracteres con el que podrá inisiar sesión. El nombre de usuario no debe contener solo números.
                                                .contentRegistro__box__usuario__formulario
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Usuario:
                                                        input#formGroupExampleInput.form-control(type='text' placeholder='Ingrese Usuario')
                                                        p Ingrese el nombre de usuario de 8 caracteres con el que podrá inisiar sesión. El nombre de usuario no debe contener solo números.
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Nombre Completo:
                                                        input#formGroupExampleInput2.form-control(type='text' placeholder='Ingrese su nombre completo')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Fecha Nacimiento:
                                                        input#formGroupExampleInput3.form-control(type='date' placeholder='')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Nacionalidad:
                                                        input#formGroupExampleInput4.form-control(type='text' placeholder='Ingrese su nacionalidad')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Domicilio:
                                                        input#formGroupExampleInput5.form-control(type='text' placeholder='Ingrese su domicilio')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Telefono:
                                                        input#formGroupExampleInput6.form-control(type='number' placeholder='Ingrese su telefono a 10 digitos sin espacio')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Tipo de usuario:
                                                        select.form-select(aria-label='Tipo de Usuario:')
                                                            option(selected='') Tipo de Usuario
                                                            option(value='1') Beneficiario
                                                            option(value='2') Benefactor 
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Observaciones:
                                                        textarea#floatingTextarea7.form-control(placeholder='Las observaciones deben contener maximo 180 caracteres' style='height: 100px')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Password:
                                                        label.form-label2(for='formGroupExampleInput2') La contraseña debe contener al menos una mayuscula, una minuscula, un caracter especial y un numero. Debe tener entre 8 y 12 caracteres.
                                                        input#formGroupExampleInput8.form-control(type='password' placeholder='Password asta 12 caracteres')   
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Confirmar Password:
                                                        input#formGroupExampleInput9.form-control(type='password' placeholder='Confirmar Password')
                            .modal-footer
                                button.btn.btn-danger( data-bs-dismiss='modal' aria-label='Close') Cancelar
                                button.btn.btn-success(data-bs-target='#exampleModalToggle2' data-bs-toggle='modal' data-bs-dismiss='modal') Enviar
                #exampleModalToggle2.modal.fade(aria-hidden='true' aria-labelledby='exampleModalToggleLabel2' tabindex='-1')
                    .modal-dialog.modal-dialog-centered
                        .modal-content
                            .modal-header
                                h5#exampleModalToggleLabel2.modal-title Resgistro 
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                                | Registro exitoso!
                            .modal-footer 
                                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Aceptar
                .content__section-nuestrafundacion-circulo-item#itemProg2
                    .content__section-nuestrafundacion-circulo-item-txt
                        p Ayuda Psicologica
                        button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#Pscologia') Ver mas                            
                            img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
                #Pscologia.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalComedorLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h1#PscologiaLabel.modal-title.fs-5 Ayuda #[br] #[strong psicológica]
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p Servicio de atención psicológica gratuita. #[br]#[br]“La buena vida es un proceso, no un estado de ser. Se trata de una direccion, no un destino”
                                    img(src="/images/Mobile/itemsCircle_3-600x600.jpg", alt="Psicologia" srcset ="")       
                            .modal-footer
                                button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#Registrate') Registrate como voluntaro
                                    img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
                #Registrate.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='RegistrateLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h1#RegistrateLabel.modal-title.fs-5 #[strong Registrate]
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                .contentRegistro
                                    .contentRegistro__box
                                        .contentRegistro__box__usuario 
                                            
                                            p Ingrese el nombre de usuario de 8 caracteres con el que podrá inisiar sesión. El nombre de usuario no debe contener solo números.
                                                .contentRegistro__box__usuario__formulario
                                                    .mb-3
                                                        input#formGroupExampleInput.form-control(type='text' placeholder='Ingrese Usuario')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Nombre Completo:
                                                        input#formGroupExampleInput2.form-control(type='text' placeholder='Ingrese su nombre completo')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Fecha Nacimiento:
                                                        input#formGroupExampleInput3.form-control(type='date' placeholder='')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Nacionalidad:
                                                        input#formGroupExampleInput4.form-control(type='text' placeholder='Ingrese su nacionalidad')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Domicilio:
                                                        input#formGroupExampleInput5.form-control(type='text' placeholder='Ingrese su domicilio')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Telefono:
                                                        input#formGroupExampleInput6.form-control(type='number' placeholder='Ingrese su telefono a 10 digitos sin espacio')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Tipo de usuario:
                                                        select.form-select(aria-label='Tipo de Usuario:')
                                                            option(selected='') Tipo de Usuario
                                                            option(value='1') Beneficiario
                                                            option(value='2') Benefactor 
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Observaciones:
                                                        textarea#floatingTextarea7.form-control(placeholder='Las observaciones deben contener maximo 180 caracteres' style='height: 100px')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Password:
                                                        label.form-label2(for='formGroupExampleInput2') La contraseña debe contener al menos una mayuscula, una minuscula, un caracter especial y un numero. Debe tener entre 8 y 12 caracteres.
                                                        input#formGroupExampleInput8.form-control(type='password' placeholder='Password asta 12 caracteres')   
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Confirmar Password:
                                                        input#formGroupExampleInput9.form-control(type='password' placeholder='Confirmar Password')
                            .modal-footer
                                button.btn.btn-danger( data-bs-dismiss='modal' aria-label='Close') Cancelar
                                button.btn.btn-success(data-bs-target='#exampleModalToggle2' data-bs-toggle='modal' data-bs-dismiss='modal') Enviar
                #exampleModalToggle2.modal.fade(aria-hidden='true' aria-labelledby='exampleModalToggleLabel2' tabindex='-1')
                    .modal-dialog.modal-dialog-centered
                        .modal-content
                            .modal-header
                                h5#exampleModalToggleLabel2.modal-title Resgistro 
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                                | Registro exitoso!
                            .modal-footer 
                                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Aceptar
                .content__section-nuestrafundacion-circulo-item#itemProg3
                    .content__section-nuestrafundacion-circulo-item-txt
                        p Albergue
                        button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#albergue') Ver mas                            
                            img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
                #albergue.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalComedorLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h1#albergueLabel.modal-title.fs-5 #[strong Albergue]
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p Servio de albergue c “Ayuda a otros y veras como en realidad estas haciendo un mundo mejor para ti”
                                    img(src="/images/Mobile/itemsCircle_1-600x600.jpg", alt="Albergue" srcset ="")
                            .modal-footer
                                button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#Registrate') Registrate como voluntaro
                                        img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
                #Registrate.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='RegistrateLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h1#RegistrateLabel.modal-title.fs-5 #[strong Registrate]
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                .contentRegistro
                                    .contentRegistro__box
                                        .contentRegistro__box__usuario 
                                            
                                            p Ingrese el nombre de usuario de 8 caracteres con el que podrá inisiar sesión. El nombre de usuario no debe contener solo números.
                                                .contentRegistro__box__usuario__formulario
                                                    .mb-3
                                                        input#formGroupExampleInput.form-control(type='text' placeholder='Ingrese Usuario')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Nombre Completo:
                                                        input#formGroupExampleInput2.form-control(type='text' placeholder='Ingrese su nombre completo')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Fecha Nacimiento:
                                                        input#formGroupExampleInput3.form-control(type='date' placeholder='')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Nacionalidad:
                                                        input#formGroupExampleInput4.form-control(type='text' placeholder='Ingrese su nacionalidad')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Domicilio:
                                                        input#formGroupExampleInput5.form-control(type='text' placeholder='Ingrese su domicilio')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Telefono:
                                                        input#formGroupExampleInput6.form-control(type='number' placeholder='Ingrese su telefono a 10 digitos sin espacio')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Tipo de usuario:
                                                        select.form-select(aria-label='Tipo de Usuario:')
                                                            option(selected='') Tipo de Usuario
                                                            option(value='1') Beneficiario
                                                            option(value='2') Benefactor 
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Observaciones:
                                                        textarea#floatingTextarea7.form-control(placeholder='Las observaciones deben contener maximo 180 caracteres' style='height: 100px')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Password:
                                                        label.form-label2(for='formGroupExampleInput2') La contraseña debe contener al menos una mayuscula, una minuscula, un caracter especial y un numero. Debe tener entre 8 y 12 caracteres.
                                                        input#formGroupExampleInput8.form-control(type='password' placeholder='Password asta 12 caracteres')   
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Confirmar Password:
                                                        input#formGroupExampleInput9.form-control(type='password' placeholder='Confirmar Password')
                            .modal-footer
                                button.btn.btn-danger( data-bs-dismiss='modal' aria-label='Close') Cancelar
                                button.btn.btn-success(data-bs-target='#exampleModalToggle2' data-bs-toggle='modal' data-bs-dismiss='modal') Enviar
                #exampleModalToggle2.modal.fade(aria-hidden='true' aria-labelledby='exampleModalToggleLabel2' tabindex='-1')
                    .modal-dialog.modal-dialog-centered
                        .modal-content
                            .modal-header
                                h5#exampleModalToggleLabel2.modal-title Resgistro 
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                                | Registro exitoso!
                            .modal-footer 
                                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Aceptar
                .content__section-nuestrafundacion-circulo-item#itemProg4
                    .content__section-nuestrafundacion-circulo-item-txt
                        p Meriendas a hospitales
                        button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#Meriendas') Ver mas                                                        
                            img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
                #Meriendas.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='MeriendasLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h1#MeriendasLabel.modal-title.fs-5 Meriendas a #[br] #[strong hospitales]
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p Servico de desayunos a hospitales#[br] #[br]“Todos necesitan voluntarios como tú”
                                    img(src="/images/Mobile/itemsCircle_4-600x600.jpg", alt="Meriendas" srcset ="")
                            .modal-footer
                                button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#Registrate') Registrate como voluntaro
                                    img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
                #Registrate.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='RegistrateLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h1#RegistrateLabel.modal-title.fs-5 #[strong Registrate]
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                .contentRegistro
                                    .contentRegistro__box
                                        .contentRegistro__box__usuario 
                                            
                                            p Ingrese el nombre de usuario de 8 caracteres con el que podrá inisiar sesión. El nombre de usuario no debe contener solo números.
                                                .contentRegistro__box__usuario__formulario
                                                    .mb-3
                                                        input#formGroupExampleInput.form-control(type='text' placeholder='Ingrese Usuario')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Nombre Completo:
                                                        input#formGroupExampleInput2.form-control(type='text' placeholder='Ingrese su nombre completo')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Fecha Nacimiento:
                                                        input#formGroupExampleInput3.form-control(type='date' placeholder='')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Nacionalidad:
                                                        input#formGroupExampleInput4.form-control(type='text' placeholder='Ingrese su nacionalidad')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Domicilio:
                                                        input#formGroupExampleInput5.form-control(type='text' placeholder='Ingrese su domicilio')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Telefono:
                                                        input#formGroupExampleInput6.form-control(type='number' placeholder='Ingrese su telefono a 10 digitos sin espacio')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Tipo de usuario:
                                                        select.form-select(aria-label='Tipo de Usuario:')
                                                            option(selected='') Tipo de Usuario
                                                            option(value='1') Beneficiario
                                                            option(value='2') Benefactor 
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Observaciones:
                                                        textarea#floatingTextarea7.form-control(placeholder='Las observaciones deben contener maximo 180 caracteres' style='height: 100px')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Password:
                                                        label.form-label2(for='formGroupExampleInput2') La contraseña debe contener al menos una mayuscula, una minuscula, un caracter especial y un numero. Debe tener entre 8 y 12 caracteres.
                                                        input#formGroupExampleInput8.form-control(type='password' placeholder='Password asta 12 caracteres')   
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Confirmar Password:
                                                        input#formGroupExampleInput9.form-control(type='password' placeholder='Confirmar Password')
                            .modal-footer
                                button.btn.btn-danger( data-bs-dismiss='modal' aria-label='Close') Cancelar
                                button.btn.btn-success(data-bs-target='#exampleModalToggle2' data-bs-toggle='modal' data-bs-dismiss='modal') Enviar
                #exampleModalToggle2.modal.fade(aria-hidden='true' aria-labelledby='exampleModalToggleLabel2' tabindex='-1')
                    .modal-dialog.modal-dialog-centered
                        .modal-content
                            .modal-header
                                h5#exampleModalToggleLabel2.modal-title Resgistro 
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                                | Registro exitoso!
                            .modal-footer 
                                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Aceptar
                .content__section-nuestrafundacion-circulo-item#itemProg5
                    .content__section-nuestrafundacion-circulo-item-txt
                        p Visitas a asilos anexos y clinicas
                        button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#visitasHospitales') Ver mas                                                        
                            img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
                #visitasHospitales.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='visitasHospitalesLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h1#visitasHospitalesLabel.modal-title.fs-5 Visitas a #[br] #[strong asilos] #[br] #[strong anexos] #[br] #[strong y clinicas]
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                p "La sonrisa que te regala un niño o un adulto con todo su corazó, es una de las cosas más hermosas que se pueden experimentar"
                                    img(src="/images/Mobile/itemsCircle_5-600x600.jpg", alt="visitas" srcset ="") 
                            .modal-footer
                                button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#Registrate') Registrate como voluntaro
                                    img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
                #Registrate.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='RegistrateLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h1#RegistrateLabel.modal-title.fs-5 #[strong Registrate]
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            .modal-body
                                .contentRegistro
                                    .contentRegistro__box
                                        .contentRegistro__box__usuario                                          
                                                .contentRegistro__box__usuario__formulario
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Usuario:
                                                        input#formGroupExampleInput.form-control(type='text' placeholder='Ingrese Usuario')
                                                        p Ingrese el nombre de usuario de 8 caracteres con el que podrá iniciar sesión. El nombre de usuario no debe contener solo números.
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Nombre Completo:
                                                        input#formGroupExampleInput2.form-control(type='text' placeholder='Ingrese su nombre completo')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Fecha Nacimiento:
                                                        input#formGroupExampleInput3.form-control(type='date' placeholder='')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Nacionalidad:
                                                        input#formGroupExampleInput4.form-control(type='text' placeholder='Ingrese su nacionalidad')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Domicilio:
                                                        input#formGroupExampleInput5.form-control(type='text' placeholder='Ingrese su domicilio')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Telefono:
                                                        input#formGroupExampleInput6.form-control(type='number' placeholder='Ingrese su telefono a 10 digitos sin espacio')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Tipo de usuario:
                                                        select.form-select(aria-label='Tipo de Usuario:')
                                                            option(selected='') Tipo de Usuario
                                                            option(value='1') Beneficiario
                                                            option(value='2') Benefactor 
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Observaciones:
                                                        textarea#floatingTextarea7.form-control(placeholder='Las observaciones deben contener maximo 180 caracteres' style='height: 100px')
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Password:
                                                        label.form-label2(for='formGroupExampleInput2') La contraseña debe contener al menos una mayuscula, una minuscula, un caracter especial y un numero. Debe tener entre 8 y 12 caracteres.
                                                        input#formGroupExampleInput8.form-control(type='password' placeholder='Password asta 12 caracteres')   
                                                    .mb-3
                                                        label.form-label(for='formGroupExampleInput2') Confirmar Password:
                                                        input#formGroupExampleInput9.form-control(type='password' placeholder='Confirmar Password')
                            .modal-footer
                                button.btn.btn-danger( data-bs-dismiss='modal' aria-label='Close') Cancelar
                                button.btn.btn-success(data-bs-target='#exampleModalToggle2' data-bs-toggle='modal' data-bs-dismiss='modal') Enviar
                #exampleModalToggle2.modal.fade(aria-hidden='true' aria-labelledby='exampleModalToggleLabel2' tabindex='-1')
                    .modal-dialog.modal-dialog-centered
                        .modal-content
                            .modal-header
                                h5#exampleModalToggleLabel2.modal-title Resgistro 
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                                | Registro exitoso!
                            .modal-footer 
                                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Aceptar
            .content__section-nuestrafundacion-blog 
                h1 Nuestro Blog   
                
            .content__section-nuestrafundacion-blogimg
                p Titulo del post
                img(src="/images/Mobile/itemsCircle_1-600x600.jpg", alt="54165465416")
                .content__section-nuestrafundacion-blogimg-box
                    p #[strong Autor] Dayana ornelas
                    p #[strong Fecha] 10/10/2023
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem natus impedit placeat, voluptas quia voluptates maiores eum aperiam nesciunt beatae quis explicabo labore incidunt atque enim non cumque neque et. 
                        a(href="single.html" target="blank") ver mas
                            img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
            .content__section-nuestrafundacion-blogimg
                p Titulo del post
                img(src="/images/Mobile/itemsCircle_1-600x600.jpg", alt="54165465416")
                .content__section-nuestrafundacion-blogimg-box
                    p #[strong Autor] Dayana ornelas
                    p #[strong Fecha] 11/10/2023
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem natus impedit placeat, voluptas quia voluptates maiores eum aperiam nesciunt beatae quis explicabo labore incidunt atque enim non cumque neque et. 
                        a(href="single.html" target="blank") ver mas
                            img(src="/images/icono/flecha_amarilla.svg", alt="logo de flecha")
