extend ../components/template.pug
block  content      
    .content__section-nuestrafundacion-blogimg
        p Titulo del post
        img#fotopost(src="/images/Mobile/itemsCircle_1-600x600.jpg", alt="54165465416")
        .content__section-nuestrafundacion-blogimg-box
            p #[strong Autor] Dayana ornelas
            p #[strong Fecha] 10/10/2023
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem natus impedit placeat, voluptas quia voluptates maiores eum aperiam nesciunt beatae quis explicabo labore incidunt atque enim non cumque neque et. 
        a.btn.btn-primary(href='index.html' role='button') Regresar